<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HotboxApplication-20161028125614.mdf;Initial Catalog=aspnet-HotboxApplication-20161028125614;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BoxDataDBContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.176.131.251;         Initial Catalog=HOTBOXDB;         Persist Security Info=False;         User ID=EASV;         Password=Sup3rm4n" />
  </connectionStrings>
</configuration>