<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HotboxApplication-20161028125614.mdf;Initial Catalog=aspnet-HotboxApplication-20161028125614;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BoxDataDBContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.176.131.251;         Initial Catalog=HOTBOXDB;         Persist Security Info=False;         User ID=EASV;         Password=Sup3rm4n" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="HOTBOXDBEntities" connectionString="metadata=res://*/HotboxDB.HotboxData.csdl|res://*/HotboxDB.HotboxData.ssdl|res://*/HotboxDB.HotboxData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.176.131.251;initial catalog=HOTBOXDB;user id=EASV;password=Sup3rm4n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>